<header>
    <nav class="navbar">
        <a href="" class="navbar-brand">
            <img class="netflix-logo" src="/assets/images/netflix-logo.png" alt="">
        </a>
        <div class="navbar-menu">
            <a class="navbar-item" routerLink="">Home</a>
            <a class="navbar-item" routerLink="tv-shows">TV Shows</a>
            <a class="navbar-item" routerLink="movies">Movies</a>
        </div>
        
        <a class="btn btn-rect navbar-get-started" routerLink="get-started">Get started</a>

        <a class="navbar-right-item" href=""><mat-icon>search</mat-icon></a>
        <a class="navbar-right-item" href="">Enfants</a>
        <a class="navbar-right-item" href=""><mat-icon>card_giftcard</mat-icon></a>
        <a class="navbar-right-item" href=""><mat-icon>notifications</mat-icon></a>
        <img src="assets/images/jojo.jpg" alt="avatar" />
    </nav>
</header>